<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <div th:replace="pagefragments :: header_styles"/>
</head>
<body>
<h1>Details of user with id: <span th:text="${user.id}"></span></h1>

<div class="details-container">
    <div class="details-section">
        <h2>Dane Użytkownika:</h2>
        <div class="details-param">
            <div class="details-label">Id:</div>
            <div class="detail" th:text="${user.id}"></div>
        </div>
        <div class="details-param">
            <div class="details-label">Name:</div>
            <div class="detail" th:text="${user.firstName}"></div>
        </div>
        <div class="details-param">
            <div class="details-label">Surname:</div>
            <div class="detail" th:text="${user.lastName}"></div>
        </div>

        <div class="details-param">
            <div class="details-label"></div>
<!--            <div class="detail">-->
<!--                <a th:href="@{/grade/add(studentId=${user.id})}">Add budget...</a>-->
<!--            </div>-->
        </div>
    </div>
    <div class="details-section">
        <h2>Posiadane budżety:</h2>
        <div class="grade-container">
            <div class="grade-table-header">
                <div class="grade-table-header-cell">
                    Id
                </div>
                <div class="grade-table-header-cell">
                    Datetime
                </div>
                <div class="grade-table-header-cell">
                    Category
                </div>
                <div class="grade-table-header-cell">
                    Actions
                </div>
            </div>
            <div class="budget-table-row" th:each="budget: ${user.budgets}">
                <div class="budget-table-cell" th:text="${budget.id}">

                </div>
                <div class="budget-table-cell" th:text="${budget.value}">

                </div>
                <div class="budget-table-cell" th:text="${budget.dateTimeCreated}">

                </div>
                <div class="budget-table-cell" th:text="${budget.budgetCategory}">
                </div>
<!--                <div class="grade-table-cell">-->
<!--                    <a th:href="@{/grade/delete(id=${ocena.id})}">Delete</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
<div th:replace="pagefragments :: footer_scripts"/>
</body>
</html>