<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="pagefragments :: header_styles"/>

</head>
<body>


<form th:action="@{/user/add}" method="post" th:object="${newUser}">


    <div class="container">
        <div class="row">
            <label for="inputName">First name:</label> <input id="inputName" type="text" th:field="*{firstName}"><br/>
            <label for="inputLast">Last name:</label> <input id="inputLast" type="text" th:field="*{lastName}"><br/>

            <input type="submit">

            <!--            <button type="button" class="btn btn-primary">Submit</button>-->
        </div>
    </div>
</form>


<div th:replace="pagefragments :: footer_scripts"/>

</body>
</html>